@import "../../styles/main";
@import "../../styles/variables";
@import "../../styles/mixin";

.experiments {
   .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .card{
        width: 25%;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        border: solid 4px #000;
        background-color: #fff;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        .title{
            display: flex;
            justify-content: center;
            font-weight: bold;
            padding-bottom: 10px;
        }
    }
   }
   .button{
       padding: 50px 0;
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
            padding: 10px;
            opacity: 0.79;
            border-radius: 10px;
            border: solid 4px #000;
            background-color: #ed4561;
            color: #000;
            span{
                font-family: Montserrat;
                font-size: 20px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #000;
            }
        }
   }
}

@include media-lg {
    .experiments {
        .cards{
            .card{
                width: 80%;
            }
        }
    }
}
